h2 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.myForm {
    width: 100%;
    max-width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

label {
    font-family: 'Lobster Two', cursive;
    font-size: 16pt;
    padding: 0;
    display: flex;
    margin-top: 35px;
}

input {
    background-color: white;
    width: 250px;
    font-size: 16pt;
    font-family: 'Times New Roman', Times, serif;
    color:black;
    border-radius: 10px;
}

.passwordInput {
    width: 262px;
}

/*buttons for sign up and authenticate component*/
.myButtons {
    display: flex;
    align-items: center;
    margin: 40px;
    margin-top: 40px;
    padding: 0;
}

.submitButton, 
.authenticateButton,
.resetForm {
    width: 100%;
    max-width: 110px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    padding: 8px;
    background-color: white;
    color: black;
    font-family: 'Lobster Two', cursive;
    border: 2px solid black;
    border-radius: 12px;
    font-size: 14pt;
    margin-top: 15px;
}

.authenticateButton {
    margin-bottom: 20px;
    margin-top: 30px;
}

.submitButton:hover {
    color: #EE6D70;
    cursor: pointer;
}

.resetForm:hover {
    color: #EE6D70;
    cursor: pointer;
}

.authenticateButton:hover {
    color: #EE6D70;
    cursor: pointer;
}

p {
   font-family: 'Lobster Two', cursive;
   text-align: center;
   font-size: 18pt;
   color: black;
}

.tokenImg {
    width: 100%;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 30px;
}





