#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

h1 {
  font-family: 'Lobster Two', cursive;
  text-align: center;
  margin-top: 20px;
  font-size: 26pt;
}

/*Form*/
.myFormContainer {
  width: 100%;
  max-width: 700px;
  background-color:#EE6D70;
  border-radius: 12px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 40px;
  padding: 10px;
}










